/*
* LAYOUT
*
*
*/

/* ========================================== HEADER */

.header-wrapper {
  background:#fff;
}
header {
  padding: 16px;
}
.custom-logo {
  max-width:250px;
}

/* ========================================== NAV */

.nav-wrapper, .menu {
  background-color: var(--secondary);
}

/* ========================================== CARDS */

.cards-section {
  display:flex;
  flex-wrap: wrap;
  padding:16px 0;
}
.card {
  flex: 0 0 30%;
  max-width: 30%;
  background-color:#FFFFFF;
  margin: 8px;
}
.card-img-wrapper {
  overflow: hidden;

}
.card-img-top {
  width:100%;
  height:200px;
  object-fit: cover;
  display:block;
}
.card-title-top {
  background-color: var(--primary);
  height:20px;
  margin-top:-20px;
  opacity:0.5;
}
.card-title a {
  font-size:1.2rem;
  color:#FFFFFF;
  background-color: #6e415c;
  display: block;
  text-decoration: none;
  padding: 10px;
}
.card-title a:hover {
  color:#ffffff;
  text-decoration: underline;
}
.card-text {
  margin:16px;
}

/*=========================================== BLOG */
.blog-wrapper {
  background: #fff;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-section {
	padding:24px;
}
article {
	margin-bottom:64px;
  background: #fff;
  h2 {
  	margin-top:0;
    a {
    	text-decoration:none;
    	color:var(--primary);
    }
  }
}
.col-left {
  padding-right:24px;
}
.col-left img {
	border:1px solid #eee;
}
.button__link {
  color:#fff;
  background-color:var(--primary);
  border:none;
  text-decoration:none;
    &--small {
      @extend .button__link;
      padding:5px 10px;
        &:hover, &:active {
          background-color:var(--secondary);
          color: #ffffff;
        }
    }
    &--big {
      @extend .button__link;
      padding:10px 20px;
      &:hover, &:active {
        background-color:var(--secondary);
        color: #ffffff;
      }
    }
}
/* ===================================================== PAGE */

/* ========================================== FOOTER */
.footer-wrapper {
  background-color: var(--secondary);
}
footer {
  padding: 1rem;
}
