// Bootstrap Formate

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    background-color:green;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    background-color:#fff;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    background-color:#fff;
  }
  .header-container, .menu-hauptmenue-container, #content {
    margin:0 auto;
    max-width:992px;
  }
  .article .row {
    display:flex;
  }
}
