/*
* MEDIA-QUERIES
*
* Bootstrap Formate
*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #footer ul li a {
      padding-right: 20px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #main-menu a.menu-trigger {
  display: none;  /* Den resp Nav Button wieder ausschalten*/
  }
  #main-menu ul {
      display:block;
  }
  #main-menu ul, #main-menu li ul  {
    width:100%;
    overflow: visible; /* Wichtig, damit Untermenüs sichtbar werden */
  }
  #main-menu li ul {
        display:block; /* Die auf dem Handy ausgeblendete erste Ebene wieder einblenden*/
    }
  #main-menu li ul{
        left: -9999px;
        position:absolute;
        overflow: visible;
  }
  #main-menu .menu li{
    position: relative;
    border:none;
    }
  #main-menu .menu > li{
    display: inline-block; /* Nur die erste Ebene Hauptmenü soll inline angezeigt werden */
    margin-right:-4px; /* Löscht die Abstände zwischen den Links wegen inline-block */
  }
  #main-menu .menu li ul{
    left: -9999px;
    position:absolute;
    overflow: visible;
    z-index:100;
  }
  #main-menu .menu ul li {
    border-top:2px solid #fff;
  }
  #main-menu .menu > li > ul ul{
    top: 0;
  }
  #main-menu .menu li:hover > ul{
    left:100%;
  }
  #main-menu .menu > li:hover > ul{
    left: 0;
  }
  .page-template-sidebar-right {
      #content {
        display:flex;
        }
      #sidebar {
        padding:10px;
        border:1px solid grey;
        margin-left:20px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header-container, .menu-hauptmenue-container, #content, #footer-content {
    margin:0 auto;
    max-width:992px;
  }
  article .row {
    display:flex;
  }
}
