/* WordPress dynamische generierte Klassen notwendig laut theme check */

.wp-caption {text-align: left;}
.wp-caption-text {text-align: left;}
.sticky {text-align: left;}
.gallery-caption {text-align: left;}
.bypostauthor {text-align: left;}
.alignright {text-align: left;}
.alignleft {text-align: left;}
.aligncenter {text-align: left;}
.screen-reader-text {text-align: left;}
